
.container{
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family:monospace;
}


.title{
  padding-top:50px;
  text-align: center;
  font-size: 44px;
}

.description{
  padding-top:20px;
  text-align: center;
  font-size: 24px;
}

.search{
  padding-top:20px;
  text-align: center;
  font-size: 24px;
  font-family:monospace;
  display:flex;
  justify-content:center;
  gap:20px;
}



.search > button {
  background-color: black;
  border: white 2px solid;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family:monospace;
}

.search > button:hover {
  background-color: #ffffff;
  color: black;
}

.search > input {
  background-color: #ffffff;
  border: white 2px solid;
  color: black;
  padding: 10px 20px;
  width: 400px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family:monospace;
}